<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{11,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{11,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,44},{11,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{11,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{11,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{11,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.pvr.ccz</string>
            <key>size</key>
            <string>{28,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f89f42cbccd1e2b6425b016fa4732298:1acf189427f22b951709694dde36b20c:f3e999beacbf744a529e4cc69aa2bc7b$</string>
            <key>textureFileName</key>
            <string>walk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
