<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Indian_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Indian_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{10,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Indian_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{10,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>Indian_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{10,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>indian_idle.pvr.ccz</string>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41eab4e07b2e18a321dc7e983ef45ef9:f178300f6a7af2d81d5163e2bfd7d032:fc91a4fed8c99e4f13dc4f7e5793f57e$</string>
            <key>textureFileName</key>
            <string>indian_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
