<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{66,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{68,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{68,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{66,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{66,93}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,93}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{70,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{66,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
            <key>p1_walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{66,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{66,93}}</string>
                <key>sourceSize</key>
                <string>{72,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p1_spreedsheet.pvr.ccz</string>
            <key>size</key>
            <string>{778,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a418ca271254527e9838f8cd6d766ec:c8f35da73e900d964c577f4b12bafd0b:dd8dddcf0076cdf5df27dd2328098471$</string>
            <key>textureFileName</key>
            <string>p1_spreedsheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
