<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Constructor21.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,0},{30,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,4},{30,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>Constructor22.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,57},{30,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,3},{30,56}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>Constructor23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{31,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,4},{31,55}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>Constructor24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{35,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{35,56}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>constructor.png</string>
			</dict>
		</dict>
</plist>